* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(92, 153, 233);
    min-height: 100vh;
    border: 20px solid #1d1e4c;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    
}

.top_section {
margin-top:100px ;
display: flex;
justify-content: space-between;
align-items: flex-end;

}
.top_section h1 {
     font-size: 60px;
     font-weight: bold;
     color: #1d1e4c;
     text-transform: uppercase;
}

.top_section h4 {
    text-align: end;
    font-size: 40px;
}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.image_container,
img {
    width: 400px;
    height: 350px;
}

.about {
    margin-top: 20px;

}

.about h2 {
 font-size: 50px;
 font-weight: 400;
 margin-bottom: 20px;
}

.about p{
    font-size: 10px;
    line-height: 10px;

}

.about ul{
    font-size: 20px;
}

footer {
    margin: 50px;

}

footer p{
 text-align: end;
}